:root{
    --bgColor : #1abc9c;
    --fontColor : #fff;
    --inputColor : #ecf0f1;
}
*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family : Roboto;
}
body{
    font-family : Roboto;
    background-color : var(--bgColor);
}
.header{
    display : flex;
    height : 80px;
    box-shadow: 0 0 1px 1px rgba(250,250,250,1);
    background-color : var(--fontColor);
}
.Tittle{
    flex : 1;
    display : flex;
    align-items: center;
    color : var(--bgColor);
}
.Tittle h1{
    font-size : 1.5rem;
}
.urls{
    display : flex;
    align-items:center;
    justify-content:center;
}
.urls div{
    margin: 0 0.5rem 0 1rem;
    font-size : 1.2rem;
}
.urls div a{
    text-decoration : none;
    color : var(--bgColor);
}
.urls div:last-child a{
    padding : 1.2rem;
    font-weight : bold;
    font-size : 1.4rem;
    background-color : var(--bgColor);
    color : var(--fontColor);
    border-radius : 50%;
}
.customer_details{
    margin : 0 auto;
    display : flex;
    align-items : center;
    justify-content : center;
}
.customer_details h2,.complaint_details h2{
    text-align : center;
    color : var(--fontColor);
    margin : 1rem;
    font-size : 2.2rem;
}
table{
    margin : 0 auto;
    width : 60rem;
    border-collapse : separate;
    border-spacing : 0 0.1rem;
    text-align : center;
    margin-bottom : 2rem;
}
#table2{
    margin : 0 auto;
    width : 83rem;
    border-collapse : separate;
    border-spacing : 0 0.1rem;
    text-align : center;
    margin-bottom : 2rem;
}
table thead th{
    padding : 0.8rem;
    font-size : 1rem;
    text-transform : uppercase;
    color : var(--bgColor);
    background-color : var(--fontColor);
}
table tbody tr:nth-child(odd){
    background-color : var(--inputColor);
}
table tbody tr:nth-child(even){
    background-color : var(--fontColor);
}
table tbody tr td{
    padding : 1rem 0.5rem;
    color : #2d3436;
    font-size : 1rem;
}
table tbody tr .unsucccess{
    color : red;
}
td a{
    text-decoration : none;
    color : #fff;
    background-color : rgb(255,0,0);
    padding : 0.7rem 0.9rem;
    border-radius : 3px;
    font-size : 0.9rem;
}
td form input{
    display : none;
}
td form button{
    color : #fff;
    background-color : rgb(238, 204, 9);
    padding : 0.6rem 0.8rem;
    border-radius : 3px;
    font-size : 0.9rem;
    border : 1px solid rgb(238, 204, 9);
}