:root{
    --bgColor : #1abc9c;
    --fontColor : #fff;
    --inputColor : #ecf0f1;
}
*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}
body{
    font-family : Roboto;
    background-color : var(--bgColor);
}
.header{
    display : flex;
    height : 80px;
    box-shadow: 0 0 1px 1px rgba(250,250,250,1);
    background-color : var(--fontColor);
}
.Tittle{
    flex : 1;
    display : flex;
    align-items: center;
    color : var(--bgColor);
}
.Tittle h1{
    font-size : 1.5rem;
}
.urls{
    display : flex;
    align-items:center;
    justify-content:center;
}
.urls div{
    margin: 0 0.5rem 0 1rem;
    font-size : 1.2rem;
}
.urls div img{
    border-radius:50%;
    width : 40px;
    height : 40px;
}
.urls div a{
    text-decoration : none;
    color : var(--bgColor);
}
.complaint_form{
    width : 40rem;
    margin : 2rem auto;
    box-shadow:0 1px 1px 1px rgba(250,250,250,1);
    background-color : var(--fontColor);
}
.complaint_form form{
    margin:0 auto;
    padding : 0.5rem;
}
.complaint_form form div{
    padding : 0.5rem;
    display : flex;
    flex-direction : column;
    justify-content:center;
    align-items : center;
}
.complaint_form form div h1{
    color :var(--bgColor);
    text-align :center;
}
.complaint_form form div input{
    width : 30rem;
    height : 2.8rem;
    padding : 0.5rem;
    outline : none;
    border:none;
    background-color : var(--inputColor);
    font-size : 0.9rem;
    font-weight : bold;
    border-radius : 5px;
}
.complaint_form form div input:focus{
    border : 1px solid var(--bgColor);
}
.complaint_form form div textarea{
    width : 30rem;
    height : 8rem;
    resize : none;
    padding : 0.6rem;
    font-size : 0.8rem;
    padding : 0.5rem;
    outline : none;
    border:none;
    background-color : var(--inputColor);
    border-radius : 5px;
}
.complaint_form form div textarea:focus{
    border : 1px solid var(--bgColor);
}
.complaint_form form div input[type="submit"]{
    width :15rem;
    margin-top : 0.1rem;
    padding : 0.9rem 2rem;    
    outline : none;    
    color : var(--fontColor);    
    font-size : 0.9rem; 
    font-weight : bold;
    text-transform : uppercase;
    border-radius : 20px;   
    border : 1px solid var(--fontColor);
    background-color : var(--bgColor);
}
.msg{
    color : green;
}
@media screen and (max-width : 600px){
    body{
        background : #fff;
    }
    .Tittle h1{
        font-size : 1.2rem;
    }
    .urls div a{
        color : var(--bgColor);
        font-weight : bold;
    }
    .complaint_form{
        margin-top : -0.5rem;
        width : 30rem;
        background-color : var(--bgColor);
    }
    .complaint_form form{
        margin:0 auto;
        padding : 0.5rem;
    }
    .complaint_form form div{
        padding : 0.5rem;
        display : flex;
        flex-direction : column;
        justify-content:center;
        align-items : center;
    }
    .complaint_form form div h1{
        color :var(--fontColor);
        text-align :center;
    }
    .complaint_form form div input{
        width : 25rem;
    }
    .complaint_form form div textarea{
        width : 25rem;
        height : 6rem;
    }
}